# Ignore vim swap files 
*.swo
*.swp

# Ignore emacs swap files 
*~

# Ignore object files 
*.o
# Ignore tags 
tags

# Now that there is python stuff, ignore compiled python stuff 
*.pyc

# Ignore clangd cache 
.cache/

# Ignore build stuff
compile_commands.json

# Ignore output binary
stclone
